.video-container {
    position: relative;
    margin:15px;
  }

  
  .video-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  .video-details h3 {
    font-size: 18px;
    margin: 0 0 5px;
  }
  
  .video-details p {
    font-size: 14px;
    margin: 0;
  }
