{% extends "videos_interface/base.html" %} 
{% load static %}
{% load custom_filters %}

{% block css_file %}
    <link rel="stylesheet" type="text/css" href="{% static 'myvideos.css' %}"> 
{% endblock css_file%}

{% block nav_buttons %}
    <li>
        <a class="navbar-brand" href="{% url 'create_video' %}">Create Video</a>
    </li>
{% endblock nav_buttons %}

{% block search_bar %}
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'video_search' 1 %}"> {% csrf_token %}
        {{ search_form.search_query }}
        <button class="btn btn-outline-success my-2 my-sm-0 btn-lg" type="submit">Search</button>
    </form>

    <script>
        var searchInput = document.querySelector('input[name="search_query"]');
        searchInput.value = '{{ search_query|default_if_none:"" }}';
    </script>
{% endblock search_bar %}

{% block page_content %}

    <h2 class = 'mb-5 text-center mt-5'>My Videos</h2>

    {% if message_present %}
        <div class="container p-0">
            <div class="alert alert-info" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endif %}

    <div class = "d-flex flex-wrap justify-content-center">
        {% for thumbnail in thumbnails %}
        <div class = "video-container mb-5">
            <a href = "{% url 'my_video_detail' thumbnail.video.pk %}">
                <img src='{{ MEDIA_URL }}{{ thumbnail.image_file }}' width="300" height="200">
                <div class="overlay"></div>
            </a>
            <div class="video-details">
                {% with max_length_video_title=15 %}
                    {% if thumbnail.video.title|length > max_length_video_title %}
                        <h6> {{ thumbnail.video.title|truncate_chars:max_length_video_title }}</h5>
                    {% else %}
                        <h6>{{ thumbnail.video.title }}</h5>
                    {% endif %}
                {% endwith %}
                <p>{{ thumbnail.video.created|date:"Y-m-d"  }}</p>
                <p>{{ thumbnail.video.user.username }}</p>
            </div>
        </div>
        {% endfor %} 
    </div>          

{%endblock%}