{% extends "videos_interface/base.html" %} 
{% load static %}

{% block profile %}

<div class = "container-fluid mt-5" style = "max-width: 75%;">
    <table class="table">
    <thead class = "thead-light">
        <tr>
        <th scope="col">Account</th>
        <th scope="col">Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Username</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Last Login</td>
            <td>{{user.last_login}}</td>
        </tr>
        <tr>
            <td>Date Joined</td>
            <td>{{user.date_joined}}</td>
        </tr>
    </tbody>
    </table
</div>

{% endblock profile %}
