
{% extends "videos_interface/base.html" %} 
{% load static %}
{% load custom_filters %}


    {% block css_file %}
        <link rel="stylesheet" type="text/css" href="{% static 'videos.css' %}"> 
    {% endblock css_file%}

	{% block nav_buttons %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'my_videos' %}">My Videos</a>
            </li> 
        {% endif %}
    {% endblock nav_buttons %}

    {% block search_bar %}
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'video_search' 0 %}"> {% csrf_token %}
            {{ search_form.search_query }}
            <button class="btn btn-outline-success my-2 my-sm-0 btn-lg" type="submit">Search</button>
        </form>

        <script>
            var searchInput = document.querySelector('input[name="search_query"]');
            searchInput.value = '{{ search_query|default_if_none:"" }}';
        </script>
    {% endblock search_bar %}

    {% block page_content %}

    <h2 class="text-dark m-4 text-center mt-5 mb-5">Browse Popular Videos</h2>

        <!-- {% if not request.user.is_authenticated %}
            <div class="container p-0">
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Please sign in to be able to upload videos
                </div>
            </div>
        {% endif %} -->

        {% if message %}
            <div class="container p-0">
                <div class="alert alert-info" role="alert" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endif %}

        <div class = "d-flex flex-wrap justify-content-center">
            {% for thumbnail in thumbnails %}
                <div class = "video-container mb-5">
                    <a href = "{% url 'video_detail' thumbnail.video.pk %}">
                        <img src='{{ MEDIA_URL }}{{ thumbnail.image_file }}' width="300" height="200">
                        <div class="overlay"></div>
                    </a>
                    <div class="video-details">
                        {% with max_length_video_title=15 %}
                            {% if thumbnail.video.title|length > max_length_video_title %}
                                <h6> {{ thumbnail.video.title|truncate_chars:max_length_video_title }}</h5>
                            {% else %}
                                <h6>{{ thumbnail.video.title }}</h5>
                            {% endif %}
                        {% endwith %}
                        <p>{{ thumbnail.video.created|date:"Y-m-d"  }}</p>
                        <p>{{ thumbnail.video.user.username }}</p>
                    </div>
                </div>
            {% endfor %} 
        </div>  
    
	{%endblock%}

</body>