{% extends "videos_interface/base.html" %} 

{% block nav_buttons %}
    
<div class = 'nav_buttons col-xs-4'><a href="{% url 'my_videos' %}" class = "btn btn-primary btn-sm">My Videos</a></div>
<div class = 'nav_buttons col-xs-4'><a href="{% url 'videos' %}" class = "btn btn-info btn-sm">Browse Videos</a></div>


{% endblock nav_buttons %}

{% block page_content %}

<h1 class = 'mb-5 text-center'>Create a Video</h1>
<form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{form.title }}
    {{form.videofile}}
    <input type="submit" value="Upload"/>
</form>

{%endblock%}