{% extends "videos_interface/base.html" %} 
{% load custom_filters %}


{% block nav_buttons %}
    <li>
        <a class="navbar-brand" href="{% url 'create_video' %}">Create Video</a>
    </li>
{% endblock nav_buttons %}

{% block search_bar %}
    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'video_search' 1 %}"> {% csrf_token %}
        {{ video_search_form.search_query }}
        <button class="btn btn-outline-success my-2 my-sm-0 btn-lg" type="submit">Search</button>
    </form>
{% endblock search_bar %}

{% block page_content %}

    <h2 class = 'mb-5 text-center mt-5'>My Videos</h2>

    {% if message_present %}
        <div class="container p-0">
            <div class="alert alert-info" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endif %}

    <div class = "d-flex flex-wrap justify-content-center">
        {% for thumbnail in thumbnails %}
        <div class = "px-3 mb-5">
            <a href = "{% url 'my_video_detail' thumbnail.video.pk %}">
                <img src='{{ MEDIA_URL }}{{ thumbnail.image_file }}' width="300" height="200">
            </a>
             {% comment %} {% video obj.video '426x240' %} {% endcomment %}
            <div class = "d-flex justify-content-center"> 
                {% comment %} <form action = {% url 'video_detail' video.pk %} method = 'post'>  {% csrf_token %}
                    <button type = 'submit' class = 'btn' value = {{video.pk}} name = 'video'>{{video.title}}</button>
                </form> {% endcomment %}
                {% with max_length_video_title=15 %}
                    {% if thumbnail.video.title|length > max_length_video_title %}
                    <h5 class = "video_title"> {{ thumbnail.video.title|truncate_chars:max_length_video_title }}</h5>
                    {% else %}
                        {{ thumbnail.video.title }}
                    {% endif %}
                {% endwith %}
            </div>  
        </div>
        {% endfor %} 
    </div>          

{%endblock%}