{% extends "videos_interface/base.html" %} 
{% load embed_video_tags %}

{% block nav_buttons %}
    <li>
        <a class="nav-link" href="{% url 'my_videos' %}">My Videos</a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'videos' %}">Browse</a>
    </li>
{% endblock nav_buttons %}

{% block page_content %}


    <h1 class = 'mb-4 text-center mt-4'>{{video.title}}</h1>
    <div class = "d-flex flex-wrap justify-content-center">
        <div class = "px-3 mb-5">
        {% comment %} {% video video.video 'tiny' %} {% endcomment %}
            <video width='400' controls>
                <source src='{{ MEDIA_URL }}{{ video.videofile }}' type='video/mp4'>
            </video>
        </div>
    </div>

    <div class = "container-fluid text-center">
        <a type="button" href = "{% url 'my_video_edit' video.pk %}" style = "margin-right: 1em;" class="btn btn-outline-primary">Edit</a>
        <a type="button" href = "{% url 'my_video_delete' video.pk %}" class="btn btn-outline-danger">Delete</a>


    </div>

{%endblock%}