
{% extends "videos_interface/base.html" %} 
{% load static %}
{% load custom_filters %}


{% block css_file %}
    <link rel="stylesheet" type="text/css" href="{% static 'videos.css' %}"> 
{% endblock css_file%}

	{% block nav_buttons %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'my_videos' %}">My Videos</a>
            </li> 
        {% endif %}
    {% endblock nav_buttons %}

    {% block search_bar %}
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'video_search' 0 %}"> {% csrf_token %}
            {{ video_search_form.search_query }}
            <button class="btn btn-outline-success my-2 my-sm-0 btn-lg" type="submit">Search</button>
        </form>
    {% endblock search_bar %}

    {% block page_content %}

        <h2 class="text-dark m-4 text-center mt-5 mb-5">Browse Popular Videos</h2>

        {% if message_present %}
            <div class="container p-0">
                <div class="alert alert-info" role="alert" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endif %}

        <div class = "d-flex flex-wrap justify-content-center">
            {% for thumbnail in thumbnails %}
                <div class = "px-3 mb-5">
                    <a href = "{% url 'video_detail' thumbnail.video.pk %}">
                        <img src='{{ MEDIA_URL }}{{ thumbnail.image_file }}' width="300" height="200">
                    </a>
                    <div class = "d-flex justify-content-center"> 
                        {% with max_length_video_title=15 %}
                            {% if thumbnail.video.title|length > max_length_video_title %}
                            <h5 class = "video_title"> {{ thumbnail.video.title|truncate_chars:max_length_video_title }}</h5>
                            {% else %}
                                {{ thumbnail.video.title }}
                            {% endif %}
                        {% endwith %}
                    </div>  
                </div>
            {% endfor %} 
        </div>  
    
	{%endblock%}

</body>