{% extends "videos_interface/base.html" %} 
{% load embed_video_tags %}

	{% block nav_buttons %}
    
    <div class = 'col-xs-4' style = "padding: 1em;"><a href="{% url 'my_videos' %}" class = "btn btn-primary btn-sm">My Videos</a></div>

    {% endblock nav_buttons %}

    {% block page_content %}

    <h1 class = 'mb-5 text-center'>Browse Videos</h1>
    <div class = "d-flex flex-wrap justify-content-center">
        {% for video in videos %}
        <div class = "px-3 mb-5">
            {% comment %} {% video obj.video '426x240' %}
            <div class = "d-flex justify-content-center"> {% endcomment %}
            <video width='400' controls>
                <source src='{{ MEDIA_URL }}{{ video.videofile }}' type='video/mp4'>
            </video>
                <form action = {% url 'video_detail' video.pk %} method = 'post'>  {% csrf_token %}
                    <button type = 'submit' class = 'btn' value = {{video.pk}} name = 'video'>{{video.title}}</button>
                </form>
            </div>  
        </div>
        {% endfor %} 
    </div>       
    
	{%endblock%}