{% extends "videos_interface/base.html" %} 
{% load embed_video_tags %}

	{% block nav_buttons %}
    
    <div class = 'nav_buttons col-xs-4'><a href="{% url 'my_videos' %}" class = "btn btn-primary btn-sm">My Videos</a></div>

    {% endblock nav_buttons %}

    {% block page_content %}

    <h1 class = 'mb-5 text-center'>Browse Videos</h1>
    <div class = "d-flex flex-wrap justify-content-center">
        {% for thumbnail in thumbnails %}
        <div class = "px-3 mb-5">
            <img src='{{ MEDIA_URL }}{{ thumbnail.image }}' width="300" height="200">
             {% comment %} {% video obj.video '426x240' %} {% endcomment %}
            <div class = "d-flex justify-content-center"> 
                {% comment %} <form action = {% url 'video_detail' video.pk %} method = 'post'>  {% csrf_token %}
                    <button type = 'submit' class = 'btn' value = {{video.pk}} name = 'video'>{{video.title}}</button>
                </form> {% endcomment %}
                <h5> {{thumbnail.video.title}}</h5>
            </div>  
        </div>
        {% endfor %} 
    </div>     

    
	{%endblock%}