{% extends "videos_interface/base.html" %} 
{% load embed_video_tags %}


{% block page_content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

	<div>
        {% video video.video 'tiny' %}
		<h2>{{ video.title }}</h2>
        <h3>Leave a comment</h3>
	</div>

    <form action = "" method="post"> {% csrf_token %}
        {{form.as_p}}
        <input type = "submit" value="submit">
    </form>

    <h3>Browse Related Videos:</h3>

    <div class = "d-flex flex-wrap">
        {% for v in videos %}
        <div class = "px-3 mb-5">
            {% video v.video '426x240' %}
            <div class = "d-flex justify-content-start">
                <a  href="{% url 'video_detail' v.pk %}">{{v.title}}</a>
            </div>  
        </div>
        {% endfor %} 
    </div> 

    {% for c in comments %}
    {{c.comment}}
    {{c.user}} <br>

{% endfor %}


{%endblock%}